@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-container {
  flex-grow: 1;
}

html {
  height: 100%;
}

/*НАВИГАЦИЯ*/
.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-logo {
  width: 140px;
  margin-right: 28px;
  position: relative;
  z-index: 1;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  max-width: 450px;
}

.navigation-user {
  max-width: 140px;
  margin-left: auto;
  margin-right: 20px;
}

.navigation-item {
  list-style: none;
}

.navigation-link {
  line-height: 24px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #000000;
  padding: 20px 16px;
  display: block;
  position: relative;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.navigation-link:hover {
  color: #68A2CA;
}

.navigation-link:active {
  color:  rgba(131, 179, 211, 0.2);
}

.navigation-link:hover .navigation-icon {
  fill: #68A2CA;
}

.navigation-link:active .navigation-icon {
  fill:  rgba(131, 179, 211, 0.2);
}

.navigation .button {
  align-self: center;
  padding: 8px 34px;
}

.navigation .button:hover {
  color:#ffffff;
  background-color: #615048;
}

.navigation .button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.navigation-user .navigation-link {
  padding: 22px 12px;
  min-width: 20px;
  min-height: 20px;
}

.favorites {
  background-color: #7db54f;
  padding: 5px 6px;
  border-radius: 50%;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  letter-spacing: -0.1em;
  color: #ffffff;
  position: absolute;
  top: 12px;
  right: 4px;
}

.navigation-link-current::before {
  content: "";
  height: 2px;
  background-color: #756257;
  bottom: -1px;
  left: 16px;
  right: 16px;
  position: absolute;
  z-index: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  bottom: 10px;
}
.hero-logo{
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
}
.main-index {
  text-align: center;
}

.hero-container {
  height: 485px;
  background-color: rgba(131, 179, 211, 0.2);
  background-image: url(../images/divider.svg),
    url(../images/header-background.jpg);
  background-position: bottom center, center;
  background-size: 100% 57.2px, cover;
  background-repeat: no-repeat, no-repeat;
  margin-bottom: 69px;
}
.hero-title {
  text-transform: uppercase;
  line-height: 36px;
  font-size: 30px;
  font-weight: 700;
  padding: 0 290px 0;
  margin: 0;
  margin-bottom: 25px;
}

.hero-description {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  padding: 0 274px 0 275px;
  margin: 0;
  margin-bottom: 90px;
}

/*ПРЕИМУЩЕСТВА*/

.advantages-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item:not(.advantages-item-blue) {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  padding: 103px 85px 121px;
  box-sizing: border-box;
}
.advantages-images {
  display: block;
  max-width: 800px;
}

.advantages-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  padding: 0 27.5px;
  margin-bottom: 62px;
  position: relative;
}

.advantages-item-blue .advantages-title::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  left: 50%;
  bottom: -30px;
  margin-left: -30px;
}

.advantages-title::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  left: 50%;
  bottom: -30px;
  margin-left: -30px;
}

.advantages-description {
  margin: 0;
}

.advantages-list .light-blue {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-blue {
  background-color: #82b3d3;
  color: #ffffff;
  display: flex;
  width: 100%;
}

.advantages-column {
  padding: 92px 85px 111px;
}

.advantages-item-blue:last-child .advantages-images{
  order: -1;
}

/*СЕРВИСЫ*/
.services-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.services-item {
  list-style: none;
  width: 400px;
  padding: 152px 85px 81px;
  box-sizing: border-box;
  position: relative;
}

.services-title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 30px 0;
}

.services-description {
  color: #333333;
  margin: 0;
}

.services-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 150px;
  left: 0;
  margin: auto;
  z-index: 1;
}

/*Поиск гостиницы*/
.search-hotel {
  width: 592px;
  padding: 96px 304px;
}

.search-hotel-title {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
  margin-bottom: 20px;
}

.search-hotel-description {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
  margin: 0;
  margin-bottom: 54px;
}

.search-hotel .button {
  display: block;
  max-width: 276px;
  margin: 0 auto;
  line-height: 36px;
  font-size: 20px;
  padding: 8px 50px;
}


/*ПОДПИСАТЬСЯ*/

.subscribe {
  width: 684px;
  padding: 96px 258px 104px;
}

.main-subscribe-container{
  display: flex;
  flex-direction: column;
  color: #ffffff;
  background-color: rgba(131, 179, 211, 0.2);

  background-image: url(../images/Subscribe.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.subscribe-title {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
  margin-bottom: 20px;
}

.subscribe-description {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
  margin-bottom: 54px;
  padding: 0 104.5px 0;
}

.subscribe-form{
  display: flex;
}

.field {
  width: 452px;
  box-sizing: border-box;
  padding: 12px 20px;
  border-radius: 4px 0 0 4px;
  border: none;
}
.subscribe-form .button {
  border-radius: 0 4px 4px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
}

/*ПОДВАЛ*/
.page-footer {
  padding: 40px 0 30px 0;
}

.page-footer-container {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.footer-social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 142px;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}

.footer-social-item{
  width: 47.33px;
  height: 40px;
  position: relative;
}

.footer-social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83B3D3;
}

.footer-social-icon:hover {
  fill: #68A2CA;
}

.footer-social-icon:active {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-phone {
  width: 331px;
  text-decoration: none;
  color: #000000;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
}

.footer-phone:hover,
.footer-phone:focus{
  color: #756157;
}

.footer-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.html-academy-logo {
  width: 115px;
  margin-left: auto;
  position: relative;
}

.html-academy-logo-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.html-academy-logo-icon:hover {
  fill:  #756157;
}

.html-academy-logo-icon:active {
  fill: rgba(117, 97, 87, 0.3);
}

/*Кнопки*/
.button {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  border: none;
  border-radius: 4px;
  padding: 8px 26px;
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
}

.button:hover {
  background-color: #615048;
}

.button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background-color: #E5E5E5;
}

.button-blue {
  background-color: #82b3d3;
  padding: 8px 20px;
}

.button-blue:hover {
  background-color: #68A2CA;
}

.button-blue:active {
  background-color: #82B3D3;
}

.column-right .button-transparent {
  color:#ffffff;
  background:transparent;
}

.button-transparent:hover {
  color: rgba(255, 255, 255, 0.5);
}

.button-transparent:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-transparent:focus {
  outline: 2px solid #68A2CA;
  outline-offset: -2px;
}

.button-favorites {
  background-color: #7DB54F;
  padding: 8px 18px;
}

.button-favorites:hover {
  background-color: #6C9E42;
}

.button-favorites:active {
  background-color: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

/*КАТАЛОГ*/

/*Фон для блока с фильтрами*/

.content-filter {
  color: #ffffff;
  background-color: rgba(131, 179, 211, 0.4);
  background-image: url(../images/catalog/filter-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 412px;
  margin-bottom: 50px;
}

/*Хлебные крошки*/
.inner-header {
  width: 1060px;
  margin: 0 auto;
}
.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  padding-top: 35px;
  margin-bottom: 8px;
}

.breadcrumbs-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.breadcrumbs-item:not(:last-child){
  margin-right: 11.3px;
}

.breadcrumbs-item:first-child .breadcrumbs-link {
  display: block;
  width: 13px;
  height: 15px;
  background-image: url(../images/catalog/icon-home.svg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 12px 12px;
}

.breadcrumbs-item:not(:first-child) .breadcrumbs-link{
  padding-left: 10.8px;
  background-image: url(../images/catalog/arrow.svg);
  background-repeat: no-repeat;
  background-size: 6.39px 9.94px;
  background-position: center left;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: inherit;
  text-decoration: none;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}
/*Фильтры*/


.filter {
  width: 1060px;
  margin: 0 auto;
}
.catalog-filter-container {
  display: flex;
}
.catalog-filter-group {
  margin: 0;
  margin-right: auto;
  padding: 0;
  width: 150px;
  border: none;
}

.catalog-filter-group:first-child {
  margin-left: 0;
  margin-right: 70px;
}

.catalog-filter-title {
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog-filter-list {
  list-style: none;
  padding: 0;
}

.column-right{
  display: flex;
  margin-left: auto;
  flex-direction: column;
  justify-content: flex-end;
}

.column-right .button:first-child{
  margin-bottom: 32px;
}

.column-right .button {
  padding: 8px 50px;
}

.control {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

/*Сортировка*/

.sorting{
  display: flex;
  width: 1060px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.select-control-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin-right: auto;
  margin-top: 6.5px;
  margin-bottom: 6.5px;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  width: 292px;
  margin-right: 70px;
  max-height: 49px;
  border:2px solid #E5E5E5;
  border-radius: 4px;
  padding: 0 20px;
}

.button-view {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 44px;
  height: 44px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  margin-right: 8px;
}
.button-view-current {
  border-color:#000000;
}

.button-view:last-child {
  margin-right: 0;
}

.button-view:hover{
  border-color:#000000;
}

.button-view:active {
  border-color:#000000;
}
.button-view:focus {
 /* сделать браузерный фокус синим */
  outline: 2px solid #68A2CA;
  outline-offset: -2px;
}

/*Карточки*/

.product{
  width: 1060px;
  margin: 0 auto;
}

.product-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  border-bottom: 1px solid #E6E6E6;
}


.product-card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 16px 20px;
  justify-content: center;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  padding: 20px;
}

.product-card-link {
  color: #000000;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  grid-column: 1/-1;

}

.product-card-image {
  display: block;
  margin-bottom: 16px;
}

.product-card-title {
  margin: 0;
  justify-self: start;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.product-card-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  justify-self: start;
}

.product-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  grid-column: 2/3;
  justify-self: end;
}

.product-star-list{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  width: 96px;
  padding: 0;
  margin: 0;
}
.product-star-item{
  width: 18px;
  height: 17px;
  background-image: url(../images/catalog/star.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 8px;
}

.product-card-rating {
  background-color: #f2f2f2;
  text-align: center;
  grid-column: 2/3;
  justify-self: end;
  margin: 0;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 8px 0;
  width: 140px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

/*Пагинация*/
.pagination {
  list-style: none;
  width: 400px;
  margin: 0;
  padding: 0;
  margin-right: auto;
  margin-bottom: 60px;
  display: flex;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-decoration: none;
  background-color: #82b3d3;
  border-radius: 4px;
  padding: 11.36px 0 12.64px 0;
  text-align: center;
}

.pagination-current {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination-dots {
  background-color: transparent;
  color: #000000;
  cursor: default;
}

.pagination-link:not(.pagination-current, .pagination-dots):hover {
  background-color: #68A2CA;
}

.pagination-link:not(.pagination-current, .pagination-dots):active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.subscribe-container{
  display: flex;
  width: 684px;
  padding: 96px 258px 104px;
  text-align: center;
}

.field-inner {
  background: #F2F2F2;
}
